body {
  background:#eee;
}

section {
  background:#fff;
  border:1px solid #ddd;
  border-radius:10px;
  margin:15px 0;
  padding:0 10px 10px 10px;
}

article div {
  height:40px;
  margin-bottom:20px;
}
article div.css {
  margin-bottom:0;
}

article div span {
  display:inline-block;
  position:relative;
  height:40px;
  width:60px;
}

article div span:after {
  content:attr(title);
  position:absolute;
  bottom:-15px;
  font-family:monospace;
  font-size:12px;
}